{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
      </h1>
    </header>
    {{ .Content }}
    <ul class="timeline" aria-label="Volunteering experience">
      {{ range .Pages.ByWeight }}
      <li class="timeline-item">
        <h2>{{ .Title }}</h2>
        <p class="timeline-role">{{ .Params.role }}</p>
        <p class="timeline-date">{{ .Params.dateRange }}</p>
      </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
