{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
      </h1>
    </header>
    {{ .Content }}
    <ul class="timeline">
      {{ range .Pages.ByWeight }}
      <li class="timeline-item">
        <h3>{{ .Title }}</h3>
        <div class="timeline-role">{{ .Params.role }}</div>
        <div class="timeline-date">{{ .Params.dateRange }}</div>
      </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
